@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Escalation</h1>
    <p class="lead">Escalation is a simple web game about what actions lead to increasing or decreasing the intensity of global conflicts. </p>
    @Html.ActionLink("Start Playing", "StartNew", "GameManagement", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
</div>

<div class="row" style="font-style:italic">

    <div class="col-md-4">
        <div class="panel panel-default panel-body">
            <p>A useful—if misleading—analogy which brings this aspect to the fore is the game of "chicken." While it is a very popular metaphor, particularly with peace groups, the analogy to the game of "chicken" greatly oversimplifies international conflicts. "Chicken" is played by two drivers on a road with a white line down the middle. Both cars straddle the white line and drive toward each other at top speed. The first driver to lose his nerve and swerve into his own lane is "chicken"—an object of contempt and scorn—and he loses the game. The game is played among teenagers for prestige, for girls, for leadership of a gang, and for safety (i.e., to prevent other challenges and confrontations).</p>

            <p>Escalation is much more complicated than this game. Still, the game provides a useful analogy because it illustrates some aspects of international relations that are important and should be emphasized—for example, the symmetrical character of many escalation situations. Some teenagers utilize interesting tactics in playing "chicken." The "skillful" player may get into the car quite drunk, throwing whisky bottles out the window to make it clear to everybody just how drunk he is. He wears very dark glasses so that it is obvious that he cannot see much, if anything. As soon as the car reaches high speed, he takes the steering wheel and throws it out the window. If his opponent is watching, he has won. If his opponent is not watching, he has a problem; likewise if both players try this strategy.</p>
            <b>--Herman Kahn</b>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default panel-body">
            <p>To some degree, there may be large cultural differences in how these things are regarded. For example, it is quite possible that the Government of North Vietnam did not completely understand the distinction the United States would make between the sinking of one or two U.S. ships by saboteurs in the harbor of Saigon and a naval attack in international waters (even if only a few miles off the North Vietnamese coast) on a U.S. destroyer. From our point of view, the latter act was indeed a very large escalation, because very important thresholds had been crossed. We reacted violently and decisively.</p>
            <p>The North Vietnamese, though, may have been surprised that the U.S. was so provoked by the second class of acts and so tolerant of the first. One can easily imagine a high-level meeting in Hanoi at which frequent references were made to the "inscrutable Americans."</p>
            <b>--Herman Kahn</b>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default panel-body"><p>There may be situations in which striking a center of gravity might deliver a fatal blow; but the enemy might still be able to retaliate with a lethal or unacceptably damaging response, much like a spider whose legs continue to strike after it is dead. This phenomenon is what nuclear strategist Herman Kahn once referred to as “insensate war" and it is still a possibility in today’s globalized world.</p></div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default panel-body">
            <p>Thus, in the past, there have been many people in both the U.S.S.R. and the U.S. who seemed to believe that there was essentially nothing wrong with the world except that the other side existed and had goals that interfered with "peace" and with one's own legitimate aspirations. Under such circumstances, every retreat or advance was taken to be a notable occasion—a precedent and a prognosis.</p>
            <b>--Herman Kahn</b>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default panel-body">
            <p>The common American attitude toward force is somewhat naive. Force is a permanent element in human society, used by good, bad, and indifferent nations and people. It has been used rationally as well as irrationally, wisely as well as foolishly, moderately as well as extravagantly, virtuously as well as maliciously. Even if we unreasonably or even immorally institute the use of force, coercion, violence, and threats, it is entirely possible to go on to use these things in a reasonable fashion. At least there is no inevitable necessity to use them in a wildly unreasonable or reckless fashion.</p>

            <p>There are thus two traditional American biases: an unwillingness to initiate the use of moderate levels of force for limited objectives, and a too-great willingness, once committed, to use extravagant and uncontrolled force. Both biases are potentially dangerous and should be guarded against. They could have most serious consequences unless we deliberately and consciously think about ways in which violence may occur and still be kept relatively limited.</p>
            <b>--Herman Kahn</b>
        </div>
    </div>
</div>