


<hr />
<hr />
<hr />
<hr />
<hr />


<div class="col-md-12">
    <div ng-include="vertex.Include">

    </div>
</div>
<div class="col-md-12">

    <div ng-repeat="edge in vertex.Edges">
        <a ng-click="edge_click(edge.Name)">{{edge.HTML}}</a> <br />
    </div>

</div>
<hr />
<hr />
<hr />
<hr />
<hr />

<div class="col-md-12">
    <h4>State</h4>
    <pre>{{state_str}}</pre>
</div>
<div class="col-md-12">
    <h4>Vertex</h4>
    <pre>{{vertex_str}}</pre>
</div>

<div class="col-md-12">
    <h4>Game</h4>
    <pre>{{game_str}}</pre>
</div>