
<div class="jumbotron">
    <div ng-include="vertex.Include">

    </div>
</div>
<div class="row">
    <div ng-repeat="edge in vertex.Edges" class="col-md-4">

        <b><a ng-click="edge_click(edge.Name)" ng-hide="edge.Disabled">{{edge.HTML}}</a></b><a ng-show="edge.Disabled" style="color:red; cursor:not-allowed">{{edge.HTML}} <span ng-show="edge.DisabledReason">({{edge.DisabledReason}})</span></a><br />
        <span style="font-size:11px" ng-repeat="(key, value) in edge.diff" ng-show="state.ShowDelta">{{key}} changes from '{{value[0]}}' to '{{value[1]}}'. <br /></span>
        <br /><br />
    </div>
</div>
<div ng-show="state.ShowDebug">
    <div class="col-md-12">
        <h4>State</h4>
        <pre>{{state_str}}</pre>
    </div>
    <div class="col-md-12">
        <h4>Vertex</h4>
        <pre>{{vertex_str}}</pre>
    </div>

    <div class="col-md-12">
        <h4>Game</h4>
        <pre>{{game_str}}</pre>
    </div>
</div>