@{
    ViewBag.Title = "";
}

<div class="row" ng-app="app" ng-controller="GameController" id="RowDiv">
    <ng-include src="'/Client/Game.html'" />
</div>
@section scripts
{
    <script>
        var GameId = @ViewBag.GameId;
    </script>
    @Scripts.Render("~/Client/App.js")
    @Scripts.Render("~/Client/GameController.js")

}
